@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

/*
font-family: 'Roboto Condensed', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    text-decoration: none;
    list-style: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)),
        url(imagenes/bg.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #FFFDFC;
    font-size: 25px;
    font-weight: 800;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #FFFDFC;
    display: block;
    font-weight: 600;
}

.menu .navbar ul li a:hover {
    color: #CE967B;
}


.icons {
    display: flex;
}

.icons i {
    font-size: 30px;
    color: #FFFFFF;
    margin-right: 15px;
    cursor: pointer;
}

.icons i:hover {
    color: #266371;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content {
    text-align: center;
}

.header-content h1 {
    font-size: 75px;
    line-height: 80px;
    color: rgb(105, 213, 255);
    text-transform: uppercase;
    margin-bottom: 35px;
}

.header-content p {
    font-size: 23px;
    color: #FFFDFC;
    padding: 0 250px;
    margin-bottom: 25px;
}

.cuadro {
    padding: 100px 0;
    background-color: #E1E2E6;
    position: relative;
}

.cuadro-content {
    text-align: center;
}

.cuadro-content h2 {
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    padding: 0 250px;
    margin-bottom: 15px;
}

.txt-p {
    font-size: 20px;
    color: #414247;
    padding: 0 250px;
    margin-bottom: 35px;
}

.cuadro-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.cuadro-1 {
    padding: 0 30px;
}

.cuadro-1 img {
    width: 300px;
}

.cuadro-img {
    position: absolute;
    top: 0;
    right: 0;
}

.cuadro-1 h3 {
    color: #fd623b;
    font-size: 20px;
    margin-bottom: 15px;
}

@media(max-width:991px) {

    .menu {
        padding: 30px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #323337;
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }

    .header {
        min-height: 0vh;
    }

    .header-content {
        padding: 100px 30px;
    }

    .header-content p {
        padding: 0;
    }

    .cuadro {
        padding: 30px;
    }

    .cuadro-content h2 {
        padding: 0;
    }

    .txt-p {
        padding: 0;
    }

    .cuadro-group {
        flex-direction: column;
        margin-bottom: 0;
    }

    .cuadro-img {
        display: none;
    }
}
